<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    @* DETTE GØR AT SIDEN AUTOMATISK TILPASSER UANSET HAVD DEN VISES PÅ. F.EKS. IPAD, COMPUTER ELLER MOBIL *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIG MAMMA'S PIZZA</title>

    @* LOGO TIL TAB - VIRKER IKKE ENDNU *@
    <link rel="icon" type="image/x-icon" href="\billeder\logo.ico">

    <title>@ViewData["Title"] - Big_Mammas_Pizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Big_Mammas_Pizza.styles.css" asp-append-version="true" />
</head>
<body>


    @* DETTE ER TIL SNE PÅ HJEMMESIDEN *@
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>

    </div>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="PagesPizza/PizzaerIndex">Pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Burger">Sandwich</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Drikkevarer">Beverages</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
            &copy; 2023 - Big_Mammas_Pizza - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>


        @* Klassen er ændret fra container til MadeBy, så vi selv kan ændre på font, farve osv. *@
        <div class="MadeBy">
            Made by Isak, Thomas, Yasir, Ali, Julius & Christian
        </div>

        <div class="open">
            Opening Hours<br /><br />Monday: 11-22<br />Tuesday: 11-22<br />Wednesday: 11-22<br />Thursday: 11-22<br />Friday: 11-02<br />Saturday: 11-02<br />Sunday: 11-22
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
