@page
@model Big_Mammas_Pizza.Pages.Pizzaer.EditPizzaModel
@{
}
<h1>Change pizza</h1>

<form method="post">
    <div class="form-group">
        <label>Pizza name</label> : @Model.NytPizzaNavn<br />
        <input type="hidden" asp-for="@Model.NytPizzaNavn" />br>
        <label class="text text-danger">@Model.ErrorMessage</label><br />
        <br />


        <label>Pizza price</label><br />

    </div>
</form>