@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIG MAMMAS PIZZA</h1>
    <h2>Open 24/7</h2>
    @* <p>TEKST KAN INDSÆTTES HER</a>.</p> *@
</div>
