@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIG MAMMA'S PIZZA</h1>
    <h2>Where every slice is a piece of heaven!</h2>
    @* <p>TEKST KAN INDSÆTTES HER</a>.</p> *@
</div>
