@page
@using Big_Mammas_Pizza.model;
@model Big_Mammas_Pizza.Pages.PagesPizza.IndexModel
@{
    ViewData["Title"] = "Pizzaer";
}

<h1 class="jumbotron">PIZZA</h1>

<form method="post">
    <input type="submit" value="ADD NEW PIZZA" class="btn btn-primary" />

</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Pizzanumber</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price in kr.</th>
        </tr>
    </thead>
    <tbody>

        
        @foreach (Pizza p in Model.Pizzaer)
        {
            <tr>
                <td>@p.PizzaNumber</td>
                <td>@p.Name</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
            </tr>
        }

    

    </tbody>
</table>